.foot {
    min-height: 80vh;
    background-image: url(../../img/wave.png) !important;
    position: relative;
}

.h {
    position: absolute;
    top: 75%;
    left: 43%;
    color: white;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:700px) {
    .h {
        left: 20%;



    }
}

